*#
*~
/**/CMakeCache.txt
/**/CMakeFiles/
/**/cmake_install.cmake
/.cproject
/.project
/.settings
/compile_commands.json
/.vscode/
/AspectConfig.cmake
/CMakeLists.txt.user*
/CTestTestfile.cmake
/Makefile
/aspect
/benchmarks/**/CMakeCache.txt
/benchmarks/**/CMakeFiles/
./prmfiles
/benchmarks/**/Makefile
/benchmarks/**/cmake_install.cmake
/benchmarks/**/lib*.so
/benchmarks/**/aspect
/benchmarks/**/temp.prm
/benchmarks/tangurnis/*/*csv
/benchmarks/tangurnis/*/solution*
/build*/
/cmake_install.cmake
/cookbooks/**/*.prm.out
/cookbooks/**/lib*.so
/cookbooks/**/Makefile
/cookbooks/**/aspect
/detailed.log
/doc/aspect.dox
/doc/aspect.tag
/doc/deal.tag
/doc/doxygen/
/doc/manual.pdf
/doc/manual/manual.aux
/doc/manual/manual.bbl
/doc/manual/manual.blg
/doc/manual/manual.log
/doc/manual/manual.out
/doc/manual/manual.toc
/doc/manual/prmindex.idx
/doc/manual/prmindex.ilg
/doc/manual/prmindex.ind
/doc/manual/prmindexfull.idx
/doc/manual/prmindexfull.ilg
/doc/manual/prmindexfull.ind
/doc/manual/cookbooks/**/*.out
/doc/modules/changes.h
/doc/parameter_view/parameters.xml.bak
/**/output*/
/tests/CMakeFiles/
/tests/CTestTestfile.cmake
/tests/Makefile
/tests/cmake_install.cmake
/tests/*.x.prm
/tests/lib*.so
/Testing

# used for clion:

.idea/
cmake-build-debug/
prmfiles/convection_box_3d_AV_pre.prm
prmfiles/shearbox_test_LPOAV/log_density1.txt
prmfiles/shearbox_test_LPOAV/log.txt
prmfiles/shearbox_test_LPOAV/original.prm
prmfiles/shearbox_test_LPOAV/parameters.json
prmfiles/shearbox_test_LPOAV/parameters.prm
prmfiles/shearbox_test_LPOAV/parameters.tex
prmfiles/shearbox_test_LPOAV/solution.pvd
prmfiles/shearbox_test_LPOAV/solution.visit
prmfiles/shearbox_test_LPOAV/solver_history.txt
prmfiles/shearbox_test_LPOAV/statistics
prmfiles/shearbox_test_LPOAV/solution/solution-00000.0000.vtu
prmfiles/shearbox_test_LPOAV/solution/solution-00000.pvtu
prmfiles/shearbox_test_LPOAV/solution/solution-00000.visit
prmfiles/shearbox_test_LPOAV/solution/solution-00001.0000.vtu
prmfiles/shearbox_test_LPOAV/solution/solution-00001.pvtu
prmfiles/shearbox_test_LPOAV/solution/solution-00001.visit
prmfiles/shearbox_test_LPOAV_density0/logdensity0.txt
prmfiles/shearbox_test_LPOAV_density0/original.prm
prmfiles/shearbox_test_LPOAV_density0/parameters.json
prmfiles/shearbox_test_LPOAV_density0/parameters.prm
prmfiles/shearbox_test_LPOAV_density0/parameters.tex
prmfiles/shearbox_test_LPOAV_density0/solution.pvd
prmfiles/shearbox_test_LPOAV_density0/solution.visit
prmfiles/shearbox_test_LPOAV_density0/statistics
prmfiles/shearbox_test_LPOAV_density0/solution/solution-00000.0000.vtu
prmfiles/shearbox_test_LPOAV_density0/solution/solution-00000.pvtu
prmfiles/shearbox_test_LPOAV_density0/solution/solution-00000.visit
prmfiles/shearbox_test_LPOAV_density0/solution/solution-00001.0000.vtu
prmfiles/shearbox_test_LPOAV_density0/solution/solution-00001.pvtu
prmfiles/shearbox_test_LPOAV_density0/solution/solution-00001.visit
prmfiles/shearbox_test_LPOAV_density0/log.txt
prmfiles/shearbox_test_LPOAV_onMaster/log.txt
prmfiles/shearbox_test_LPOAV_onMaster/original.prm
prmfiles/shearbox_test_LPOAV_onMaster/parameters.json
prmfiles/shearbox_test_LPOAV_onMaster/parameters.prm
prmfiles/shearbox_test_LPOAV_onMaster/parameters.tex
prmfiles/shearbox_test_LPOAV_onMaster/solution.pvd
prmfiles/shearbox_test_LPOAV_onMaster/solution.visit
prmfiles/shearbox_test_LPOAV_onMaster/statistics
prmfiles/shearbox_test_LPOAV_onMaster/solution/solution-00000.0000.vtu
prmfiles/shearbox_test_LPOAV_onMaster/solution/solution-00000.pvtu
prmfiles/shearbox_test_LPOAV_onMaster/solution/solution-00000.visit
prmfiles/shearbox_test_LPOAV_onMaster/solution/solution-00001.0000.vtu
prmfiles/shearbox_test_LPOAV_onMaster/solution/solution-00001.pvtu
prmfiles/shearbox_test_LPOAV_onMaster/solution/solution-00001.visit
prmfiles/shearbox_test_LPOAV_density0/log.txt
